*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header, main, footer{
  font-family: Arial, Helvetica, sans-serif;
}

/* 非レスポンシブ時の下の空白をうめる */
body{
  background-color: #ecfcdf;
  z-index: 10000;
}

/* footerが下にくるようにする１ */
.wrap{
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}


/* header */
header{
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  text-align: center;
  padding:10px 0;
  margin: 0 auto;
}

header .heading a{
  color: #fff;
}

/* nav */
a{
  text-decoration: none;
  color: #38b48b;
}

.nav-list{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
}

/* main */
main{
  padding: 10px 40px 40px 40px;
  background-color: #ecfcdf;
}

.heading{
  text-align:center;
  padding-bottom: 10px;
}

.box{
  display: flex;
  padding-bottom: 10px;
}

.ziko{
  width: 30%;
  margin-right: 10px;
}

.image{
  width: 100%;
  border-radius: 10px;
}

.ziko2{
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  line-height: 40px;
}

.row2{
  display: flex;
  flex-direction: column;
}

.label{
  width: 100px;
  font-weight: bold;
}

.social i{
  margin-right: 20px;
  margin-bottom: 20px;
}

/* footer */
footer{
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  text-align: center;
  line-height: 100px;
  /* footerが下にくるようにする２ */
  position: absolute;
  bottom: 0;
}

.footer-text{
  color: #fff;
}


/* viewport */
@media screen and (max-width: 768px){
  main{
    width: 100%;
    display: block;
  }

  .box{
    display: block;
  }

  .ziko{
    width: 100%;
  }

  .ziko2{
    width: 100%;
  }
}